@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    font-family: "space Grotesk", sans-serif;
}


nav {
    background-color: #2e2e2e;
    margin: 0;
    padding: 0;
    width: 100%;

    /* position: sticky;
    top: 0;
    z-index: 2; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 72px;
    border: 1px solid #6F6F6F;
}

.pantunesaccent {
    font-family: "space Grotesk" sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #ff8a2e;
}

input[type='search'] {
    width: 524px;
    height: 56px;
    background: #1e1e1e;
    color: #ffff;
    border: 1px solid #333131;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #6F6F6F;

}



input[type='search']::placeholder {
    background: url('../svgs/search.png');
    color: #ffff;
    background-repeat: no-repeat;
    padding-left: 24px;
    background-size: 18px 18px;
    font-weight: 400;
}

input[type='submit'] {
    background-color: #0a0a0a;
    color: #ff8a2e;
    height: 56px;
    width: 86px;
    font-family: "space Grotesk";
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #ffff;
}



.alvatar {
    border-radius: 25px;
    border: 1px solid #6F6F6F;
}


.main-wrapper {
    display: flex;
}

aside {
    display: flex;
    width: 304px;
    background-color: #2e2e2e;
}

.dark {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    padding: 24px 24px;
    gap: 16px;
}

.light {
    display: grid;
    height: 54px;
    /* padding: 16px 24px; */
    font-family: 'space Grotesk';
    font-weight: 500;
    font-size: 16px;
    gap: 18px;
}

.icons {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin-top: 35px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    justify-content: center;
}



.texts {
    text-decoration: none;
    color: #ffff;
    width: 200px;
    height: 32px;
    margin-top: 35px;
}

.black {
    background-color: #0a0a0a;
    color: #ff8a2e;
    padding: 8px 0 0 18px;
    width: 145px;
    height: 36px;
    border-radius: 0 8px 8px 0;
    /* margin-bottom: 48px; */
}
.home, .alltracks, .settings, .logout {
    padding: 5px 0 0 18px;
    width: 152px;
    height: 32px;
}

/* .yellow {
    background-color: #0a0a0a;
    color: #ff8a2e;
    width: 200px;
} */

/* .side-texts {
    margin-top: 45px;
    height: 32px;
    padding: 16px;
} */

section {
    margin: 0 auto;
    padding: 56px;
    width: 100%;
}


.hero-container {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.playlist-link {
    align-self: center;
    width: 246px;
    height: 48px;
    top: 151px;
    left: 441px;
}

.playlist-text {
    font-family: "Space Grotesk";
    font-weight: 700;
    font-size: 32px;
    color: #ffff;
    margin-top: 0;
    width: 246px;
}



.img-wrapper {
    border-radius: 16px;
    background-color: #0a0a0a;
    margin-bottom: 32px;
}

.big-image {
    width: 100%;
    height: 472px;
    border-radius: 16px;
    position: relative;
}



.small-image {
    width: 336px;
    height: 336px;
    border-radius: 16px;
    position: absolute;
    top: 299px;
    left: 1261px;
    bottom: 68px;
    right: 68px;
}


.active{
    background-color: #311914;
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 4px;
    justify-content: space-between;
    color: #ffff;
}

.songs {
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
    background: #2e2e2e;
    margin-bottom: 4px;
    justify-content: space-between;
    color: #ffff;
}

a {
    text-decoration: none;
    color: #ffff;
}

.album, .title, .artist-names {
    width: 317.33px;
}

.cover-img {
    width: 11px;
}

.track-time {
    font-family: "space Grotesk";
    font-weight: 400;
    align-self: center;
    size: 16px;
    margin-left: 28px;
}



.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 24px 72px 24px 72px;
    background-color: #2e2e2e;
    border:1px solid #6F6F6F;
}



.music-player {
    display: flex;
    color: #ffff;
    gap: 16px;
}

.artist-name {
    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 16px;
    width: 142px;
    height: 26px;
    margin-bottom: 2px;
}

.track-title {
    font-family: "Space Grotesk";
    font-weight: 300;
    font-size: 12px;
}

.playmode-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-img {
    width: 100%;
    height: 100%;
}

.progress-bar {
    width: 600px;
    height: 8px;
    border-radius: 4px;
    padding: 2px;
    color: #0a0a0a;
    background-color: #0a0a0a;
   
}
progress[value]::-webkit-progress-value {
    color: #ff8a2e;
    background-color: #ff8a2e;
    border-radius: 2px;
}
progress[value]::-webkit-progress-bar {
background-color: #0a0a0a;
}

.times {
    display: flex;
    justify-content: space-between;
    color: #ffff;
    margin-top: 0;
    padding: 0;
}

.time {
    padding-top: 0;
    margin-top: 0;
}


.footer-notification {
    display: flex;
    gap: 16px;
}
