@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    align-items: center;
    margin: 0 auto;
    padding: 0;
    background-color: #0a0a0a;
    color: #fffbf9;
    font-family: "space Grotesk", sans-serif;
}

nav {
    background-color: #2E2E2E;
    position: sticky;
    top: 0;
}

.nav-item {
    width: 100%;
    height: 80px;
    padding: 16px 128px 16px 128px;
}

.home {
    text-decoration: none;
    font-family: "space Grotesk";
    color: #ff8a2e;
    font-size: 32px;
    font-weight: 700;
    width: 130px;
    height: 38px;
}



.wrapper {
    margin: 38px 510px;
    align-items: center;
    justify-content: center;
    background-color: #2E2E2E;
    border-radius: 16px;
    border-radius: 16px;
    top: 208px;
    width: 720px;
    height: 647px;
    left: 504px;
    
}



.container {
    margin: 150px 125px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}



form {
  /* align-items: center; */
  margin:  0 auto;
  width: 470px;
  padding: 16px;
  border-radius: 8px;
  /* background-color: #0a0a0a; */
}



 #email {
    width: 470px;
    height: 56px;
    margin: 8px 0;
    padding: 16px;
    border-radius: 8px 8px; 
    background-color: #0a0a0a;
    color: #fffbf9;
}

#password {
    width: 470px;
    height: 56px;
    margin-top: 8px;
    padding: 16px;
    border-radius: 8px 8px; 
    background-color: #0a0a0a;
    color: #fffbf9;
}

#submit {
    width: 470px;
    height: 56px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ff8a2e;
}

.signin {
    font-weight: 700;
    font-family: "space Grotesk";
    font-size: 32px;
    padding-top: 32px;
    padding-left: 20px;
    
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    text-decoration: none;
    color: #ff8a2e;
    font-family: "space Grotesk";
    font-weight: 400;
    font-size: 16px;
    padding-left: 4px;
}

.forget {
    font-weight: 400;
    font-size: 16px;
    font-family: "space Grotesk";
    padding-left: 16px;
    color: #fffbf9;
}

.login {
    font-weight: 700;
    font-size: 18px;
}

.forgetpass {
    text-decoration: none;
}


